@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-image: linear-gradient(to bottom, #84e1ad, #1A5C38);
}

nav {
    background-color: #1A5C38;
    padding: 7.5px 5px;
    margin-top: 15px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 7.5px 10px;
}

nav > a:hover{
    background-color: #2b9259;
}


#title {
    width: 450px;
    margin: auto;
    text-align: center;
}

#title h1 {
    font-size: 1.5em;
}

#title p {
    text-align: center;
}

main {
    background-color: white;
    margin: 0 10%;
    padding: 10px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px){
    main {
        margin: 0;
    }
}

p {
    text-align: justify;
    text-indent: 30px;
}



footer {
    text-align: center;
    background-color: #1A5C38;
    margin-top: 10px;
    padding: 5px;
}

.main {
    color: #2a6846;
    font-size: 2em;
    font-family: 'idroid';
}

.secondary {
    color: #2a6846;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'idroid';
    background-image: linear-gradient(to right, #D3F0E0, #FFFFFF);
}

#aprender {
    border-radius: 5px;
    background-color: #84E1AD;
}

#aprender h3{
    background-color: #2FA866;
    padding: 5px;
    color: white;
}

#aprender article{
    padding: 0 10px 10px;
    
}

#aprender article > ul{
    display: inline-block;
}

img {
    width: 100%;
}

#video{
    background-color: #1A5C38;
    padding: 20px;
    text-align: center;
}

.pequena {
    max-width: 300px;
}